@font-face {
    font-family: 'Determination';
    src: url('fonts/DeterminationMono.woff2') format('woff2'),
     url('fonts/DeterminationMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF7D5;
    font-family: 'Determination', 'Courier New', monospace;
}
.barra-pesquisa{
    background-color: #FFE373;
    display: inline-block;
    height: 70px;
    position: sticky;
    top: 0;
    width: 199.4vh;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
li{
     list-style-type: none;
}
#buscar-cor{
    background-color: #FFF7D5;
    height: 40px;
    width: 100vh;
    border-radius: 100px;
    color: #383838;
    display: flex;
    margin-left: 30vh;
    margin-top: 10px;

}
#move{
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}
.barra-pesquisa1{
    background-color: #5D9EFF;
    display: block;
    height: 20px;
    width: 199.4vh;
    margin-top: 2px;
    z-index: 2;
}
.posiçao{
    width: 2000px;
    height: 18px;
    display: grid;
    grid-template-columns: 7% 4% 4% 4% 4% 10% 10% 10% 10% 2% 7% 4% 4% 4%;
    grid-template-rows: 20% 20% 20%;
    font-size: 14px;
}
.barra-pesquisa2{
    background-color: #fc943c;
    display: block;
    height: 70px;
    width: 199.4vh;
    z-index: 2;
}
    .imagem-lupa{
    display: inline-flex;
    margin-left: 74vh;
    margin-top: 5px;
    height: 30px;
}
#fonte{
    font-size: 16px;
    color: black;
    display: inline-block;
    margin-block-start: 20px;
    margin-left: 30px;
}
.pose1{
    grid-column-start: 11;
    grid-column-end: 11;
}
.alinhamento{
    display: grid;
    grid-template-columns: 12% 12% 12% 10% 10% 10% 10% 10%;

}
.pose2{grid-column-start: 3;
    grid-column-end: 3;    
}
button {
  background-color: #ffffff;
  border: 1px solid #ff7700de;
  color: black;
  padding: 12px 35px;
  margin-left: 23vh;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Determination', 'Courier New', monospace;
}
.diferente {
  background-color: #FFB97C;
  border: 1px solid #ff7700de;
  color: black;
  padding: 12px 35px;
  margin-left: 23vh;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Determination', 'Courier New', monospace;
}
.barra{
    display: inline-flex;
    margin-top: 8vh;
    margin-left: -18vh;
}
button:hover {
  background-color: #FFB97C;
  
}
.diferente:hover {
  background-color: #ffffff;
}
.menu{
   background-color: #ffffff;
   display: block;
   width: 299px;
   height: 585px;
   padding: 20px;
   margin-left: 4.9vh;
   margin-top: 3vh;
}
.preco{
    background-color: #FFB97C;
  border: 1px solid #ff7700de;
  color: black;
  margin-left: -0.1vh;
  padding: 6px 19px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Determination', 'Courier New', monospace;

}


.checkbox-container label{
    display: block;
  cursor: pointer;
}
.lado{
    margin-left: 2vh;
}
.filtros{
    background-color: #FFB97C;
  border: 1px solid #ff7700de;
  color: black;
  margin-left: -0.1vh;
  margin-top: 4vh;
  padding: 12px 19px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Determination', 'Courier New', monospace;
}
.espaco2{
    margin-top: 3vh;
}
.espaco3{
    margin-top: 3vh;
}
.ali{
display: flex;
margin-left: 44vh;
margin-top:-63.5vh;
width: 222px;
height: 22px;
}
.imagens-busca{
    display: grid;
    grid-template-columns: 15% 6% 15% 15%;
    grid-template-rows: 52% 55% 55% 55%;
}
.img1{
    background-color: white;
    width: 267px;
    height: 354px;
    border-radius: 16px;
    grid-column-start: 3;
}
.tam1{
    margin-left: 40px;
    margin-top: 44px;
    width: 179px;
    height: 177px;
}
.laranja{
    padding: 10px;
    color: #FF7700;
}
.pos1{

    padding: 10px;
}
.cor{
    text-align: center;
    margin-inline-start: 10px;
    background-color: #FFB97C;
}
.img2{
    background-color: white;
    width: 267px;
    height: 354px;
    border-radius: 16px;
    grid-column-start: 4;
    
}
.tam2{
    width: 183px;
    height: 182px;
    margin-left: 40px;
    margin-top: 20px;
}
.img3{
    background-color: white;
    width: 267px;
    height: 354px;
    border-radius: 16px;
    grid-column-start: 5;
    
}
.tam3{
    width: 133px;
    height: 173px;
    margin-left: 60px;
    margin-top: 25px;
}
.img4{
    background-color: white;
    width: 267px;
    height: 354px;
    border-radius: 16px;
    grid-column-start: 3;
}
.tam4{
    width: 119px;
    height: 188px;
    margin-left: 70px;
    margin-top: 20px;
}
.img5{
    background-color: white;
    width: 267px;
    height: 354px;
    border-radius: 16px;
    grid-column-start: 4;
}
.tam5{
    width: 141px;
    height: 178px;
    margin-left: 60px;
    margin-top: 30px;
}
.img6{
    background-color: white;
    width: 267px;
    height: 354px;
    border-radius: 16px;
    grid-column-start: 5;
}
.tam6{
    width: 185px;
    height: 188px;
    margin-left: 40px;
    margin-top: 20px;
}
.detalhes{
    background-color: #e4d493;
    width: auto;
    height: 400px;
    margin-block-start: 100px;
    
}
.cores{
    position: relative;
    font-size: 24px;
    margin-top: -6vh;
    left: 25vh;
    
}
.pose5{ 
    display: inline-flex;
    margin-top: 10vh;
}